.image{
    display: flex;
    position: fixed;
    width: 70%;
    height: 100px;
    align-items: center;
    top: 200px;
    right: 5px;
    left: 450px;
    font-size: 10px;
    text-align: center;
}
.image_1{
    /*background-image: url('./StarWarDesign/Art Assets/Topics/planets_pressed.png');*/
    height: 150px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    justify-content: center;
}

.image_1:hover{
    /*background-image: url('./StarWarDesign/Art Assets/Topics/planets_normal.png');*/
   
    opacity: 0.5;
    transition-duration: 0.5s;
    transform: scale(1.2);
    background-color: rgb(61, 151, 187);
    border-radius: 150px;
    height: 150px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
   margin: 10px;
    justify-content: center;
}
.text{
    font-style: normal;
    color: white;
    text-underline-position: below;
    padding: auto;


}
.image1{
    display: flex;
    position: fixed;
    width: 70%;
    height: 100px;
    align-items: center;
    top: 400px;
    right: 5px;
    left: 450px;
    font-size: 10px;
    text-align: center;
}
.image_2{
    height: 150px;
    width: 150px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-items: center;
    justify-content: center;
    
}
.image_2:hover{
    opacity: 0.5;
    transition-duration: 0.5s;
    transform: scale(1.2);
    background-color: rgb(61, 151, 187);
    border-radius: 150px;
    height: 150px;
    width: 150px;
   
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    justify-content: center;
    
}
