.footer{
    display: flex;
      position: fixed;
      max-width: 100pv;
      align-items: center;
      top: 550px;
      left: 100px;
      font-size: 18pv;
      font-size: calc(10px + 2vmin);
     
  }
    
    .footer_1{
       
        height: 10pv;
        width: 10pv;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        top: 650px;
      left: 100px;
     }
      .use{
        text-align: center;
        word-spacing: 5px;
        grid-row: auto;
        list-style-type: none;
        align-items: center;
      top: 550px;
      left: 200px;
      font-style:oblique;
      font-size: 14px;
      color:#1b6BA2
      }
      
      
    
       .foot1{
        text-emphasis: none;
        text-align: center;
        display: inline;
        size: 5px; 
        top: 550px;
        left: 1000px;
        margin-right: 30px;

       }

       .B{
        text-align: center;
        word-spacing: 5px;
        grid-row: auto;
        list-style-type: none;
        align-items: center;
      top: 500px;
       left: 150px;
      font-style:oblique;
      font-size: 14px;
      color:white;
      margin-bottom: 100px;
       }

       /*.foot2{
        text-emphasis: none;
        text-align: center;
        display: inline;
        size: 5px; 
        text-decoration-color: royalblue;
        color: royalblue;
        top: 550px;
        left: 300px;

       }
       .foot3{
        text-emphasis: none;
        text-align: center;
        display: inline;
        size: 5px; 
        text-decoration-color: royalblue;
        color: royalblue;
        top: 550px;
        left: 350px;

       }
       .foot4{
        text-emphasis: none;
        text-align: center;
        display: inline;
        size: 5px; 
        text-decoration-color: royalblue;
        color: royalblue;
        top: 550px;
        left: 400px;

       }
       .foot5{
        text-emphasis: none;
        text-align: center;
        display: inline;
        size: 5px; 
        text-decoration-color: royalblue;
        color: royalblue;
        top: 550px;
        left: 900px;

       }*/