.main{
    size: 100px;
    position: fixed;
background: none;
background-position: center;

}
.main_1{
    background-size: cover;
    min-height: 25pv;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 
    
}

