.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-position: center;
  background-size: cover;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(14, 12, 12);
}
.App-title {
  display: flex;
  
  align-items: center;

  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*
body{
    margin: 0 0 0 0;
}
.Link{
    text-decoration: none;
}
.container{
  margin: 0;
  padding: 0;
  background: url(./background.png) no-repeat ;
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  bottom: 0px;
}
.line1{
 justify-content:center;
   margin-top: 50px;
   border-color:#054979;
   width: 1100px;
   border-width: 1px;
}
 .logo{
    display: flex;
    justify-content: center;
    margin-top: 80px;
}
.Mapping{
    margin-right:500px;
    position: relative;
    bottom: -15px;
    width: 60%;
    height: 450px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-auto-flow: row;
    grid-column-gap: 94px;
    justify-content: center;
}
.character{
    margin-bottom: 84px;
    margin-left: 94px;
}
.avatar{
    width: 160px;
  height: 160px;
  position: relative;
}
.avatar-title{
    color: #ffffff;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  position: relative;
  top: -10px;
}
.footer{
    position: fixed;
    margin-top: 176px;
    margin-left: 150px;
    bottom: 0px;
}
.footer-logo{
    position: absolute;
    margin-left: 404px;
}
.footer-nav{
    margin-left: 164px;
    position: relative;
    height: 15px;
    left: 443px;
    display:block;
   
}
.footer-list{
    float:left;
    text-align: center;
    position: relative;
    display:inline-flex;
    color: #1b6ba2;
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 14px;
    padding:22px;
}
.footer-company{
    color: #49586b;
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 14px;
    display: flex;
    position: relative;
    margin-top: 75px;
    left:80%;
}
.logo-button{
    cursor: pointer;
    background:transparent;
    padding: 0;
    border: none;
    background: none;
    outline: none;
}*/


